<!DOCTYPE html>
<html>
    <head>
        {{template "head" .}}
        <meta name="description" content="{{.Site.Subtitle}}">
        <title>{{.Site.Title}}</title>
    </head>
    <body>
    <div class="viewMain">
        <div class="wrap">
            <div class="head container">
                {{template "header" .}}
            </div>
            <div class="second container">
                {{template "aboutm" .}}
            </div>
            {{template "sworks" .}}
         {{template "about" .}}
        </div>
        </div>
        {{template "footer" .}}
</body>
</html>
